:root {
  --white: white;
  --navy: navy;
  --black: black;
}

* {
  box-sizing: border-box;
}

h1, 
h2, 
h3, 
h4, 
h5, 
h6 {
  font-family: 'Montserrat', sans-serif;
}

p, ul {
  font-family: 'Oswald', sans-serif;
}

p {
  font-size: small;
}

.jumbotron {
  color: var(--white);
  background-color: var(--navy);
}

#searchBtn {
  color: var(--white);
  background-color: var(--navy);
  margin-top: 10px;
  border-radius: 5px;
}

#todaysWeather {
  outline: solid 1px var(--black);
  padding: 10px
}