:root {
  --white: white;
  --navy: navy;
}

* {
  box-sizing: border-box;
}

h1, 
h2, 
h3, 
h4, 
h5, 
h6 {
  font-family: 'Montserrat', sans-serif;
}

p, ul {
  font-family: 'Oswald', sans-serif;
}

p {
  font-size: small;
}

.jumbotron {
  color: var(--white);
  background-color: var(--navy);
}

#searchBtn {
  color: var(--white);
  background-color: var(--navy);
  margin-top: 10px;
  border-radius: 5px;
}

#todaysWeather {
  border: solid 1px var(--navy);
  padding: 10px
  border-radius: 5px;
}

.low {
  background-color: green;
  border-radius: 3px;
  color: var(--white);
}

.moderate {
  background-color: yellow;
  border-radius: 3px;
  color: var(--white);
}

.extreme {
  background-color: red;
  border-radius: 3px;
  color: var(--white);
}

#past-cities {
  outline: var(--navy);
  background-color: var(--white);
  color: var(--navy);
}

#futureCast {
  padding: 10px;
}

.futureCastCards {
  background-color: var(--navy);
  color: var(--white);
}